<div class="pcoded-content">
  <div class="page-header">
    <div class="page-block">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="page-header-title">
            <h5 class="m-b-10">Change Password</h5>
          </div>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/members/dash">Home</a></li>
            <li class="breadcrumb-item">Change Password</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- [ form-element ] start -->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Change Password</h5>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <label class="col-form-label col-lg-3 col-sm-12 text-lg-right"
              >Password</label
            >
            <div class="col-lg-4 col-md-9 col-sm-12">
              <input
                type="password"
                class="form-control"
                id="pc-datepicker-1"
                placeholder="Password"
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-lg-3 col-sm-12 text-lg-right"
              >Retype Password</label
            >
            <div class="col-lg-4 col-md-9 col-sm-12">
              <input
                type="password"
                class="form-control"
                id="pc-datepicker-1"
                placeholder="Retype Password"
              />
            </div>
          </div>
          <button class="btn btn-primary" type="button">Change</button>
        </div>
      </div>
    </div>
    <!-- [ form-element ] end -->
  </div>
</div>
