<div class="container">
  <header class="header_container">
    <div class="head_one">
      <div class="logo"><img src="img/Only_Logo_HM.png" alt="" /></div>
      <div class="head_one_sub">
        <h5>CERTIFICATE OF ENLISTMENT U/S 118</h5>
        <h5>THE WEST BENGAL MUNICIPAL ACT - 1993</h5>
      </div>
    </div>

    <div class="head_two">
      <h6>
        THE WEST BENGAL MUNICIPAL (FINANCE &amp; ACCOUNTING) RULES – 1999, FORM
        -24, VIDE RULE – 82
      </h6>
    </div>
    <div class="head_three">
      <h1>Office of Haldia Municipality</h1>
      <br />
      <h5>
        [Address: Dr. B.R. Ambedkar Bhavan Administrative Building, City Center
      </h5>

      <h5>PO – Debhog, Haldia, Dist. Purba Medinipur, PIN-721657]</h5>
      <br />
      <h5>Tel: 03224 – 252996/252644/252718</h5>
      <h5>e-Mail: hald_muni@yahoo.com, haldiamunicipality@gmail.com</h5>
    </div>

    <div class="head_four">
      <p><strong>REGN NO:</strong> {{ userLicense[0]["regn_118"] }}</p>
      <p><strong>ISSUE DATE:</strong>{{ userLicense[0]["Issue_Date"] }}</p>
    </div>

    <div class="head_five">
      <p><strong>M.R. No.: </strong>2000523</p>
      <p><strong>M.R. Date: </strong> 23/12/2020</p>
      <p><strong>CERTIFICATE NO.</strong> 11817194823122020</p>
    </div>
  </header>

  <div class="content_pg_one">
    <div class="content_one_head">
      <p>
        YEAR FOR WHICH THE CERTIFICATE OF ENLISTMENT OR IT’S RENEWAL IS VALID:
        <span
          ><strong>{{ userLicense[0]["Fin_Year_Sht_Name"] }}</strong></span
        >
      </p>
      <br />
    </div>

    <div class="content_para">
      <p>
        The Municipal councilors of Haldia Municipality hereby grant unto
        Sri/Smt./M/S.
        <span
          ><strong> {{ userLicense[0]["Property_Owner_Name"] }}</strong></span
        >
      </p>

      <p>
        Name of Firm:
        <span
          ><strong> {{ userLicense[0]["Name_Org"] }}</strong></span
        >
      </p>

      <p>
        Residing and or carrying on or intending to carry on business at holding
        number. / Stall / Plot No. <span><strong>N-582</strong></span> at
        <span><strong>DEBHOG</strong></span> of
        <span><strong> Ward no. 15 </strong></span>and exercising or intending
        to exercise the profession or trade or calling of
        <span><strong>ALLOPATHY MEDICINE (RETAIL)</strong></span
        >. This certificate of enlistment UNDER SECTION 118 of the West Bengal
        Municipal Act -1993 and acknowledge to have received in consideration
        therefore an application fee of Rs.
        <span><strong>1000.00</strong></span> being licence fees due for the
        year ending <span><strong>31/03/2021</strong></span>
      </p>
      <br />
      <p>
        THIS LICENCE WILL BE IN FORCE UNTIL 31/03/2021 and TO BE PRODUCED AT THE
        TIME OF RENEWAL
      </p>
      <br />
    </div>
  </div>

  <footer>
    <div class="footer_one">
      <div class="code">
        <div class="bar_code">
          <img src="img/barcode_sample.jpg" alt="" />
        </div>
        <div class="qr_code">
          <img src="img/qr_code.webp" alt="" />
        </div>
      </div>

      <div class="siging">
        <p>By Order</p>
        <br />
        <p>
          Licence Officer/ Secretary / EO / C-In-C/ Vice Chairman / Chairman
          <br />
          Haldia Municipality
        </p>
      </div>
    </div>

    <div class="footer_two">
      <p>N.B:-</p>
      <p>1. Online certificate doesn't require signature</p>
      <p>
        2. Provided that such enlistment or renewal thereof shall not absolve
        such person from any liability to take out any licence under this act or
        any other law for the time being in force.
      </p>
      <p>3. Originality check by QR Code.</p>
      <p>
        4. Cancellation process should be running year(Before 5 days of
        Expiration date).
      </p>
      <p>5. If QR Code is damage then licence is invalid or fake.</p>
    </div>
  </footer>
</div>
