<!-- [ navigation menu ] start -->
<nav class="pc-sidebar">
  <div class="navbar-wrapper">
    <div class="m-header">
      <a href="index-2.html" class="b-brand">
        <!-- ========   change your logo hear   ============ -->
        <img
          src="assets/images/logo-haldia.png"
          alt=""
          class="img-fluid rounded"
        />
      </a>
    </div>
    <div class="navbar-content">
      <ul class="pc-navbar">
        <li class="pc-item pc-caption">
          <label>Navigation</label>
        </li>
        <li class="pc-item">
          <a style="cursor: pointer" class="pc-link" style="background: none">
            <span class="pc-micon"><i data-feather="home"></i></span>
            <span class="pc-mtext">Dashboard</span>
          </a>
        </li>
        <li class="pc-item pc-hasmenu">
          <a style="cursor: pointer" class="pc-link">
            <span class="pc-micon"><i class="fas fa-user-tie"></i></span>
            <span class="pc-mtext">Trade License</span>
            <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
          </a>
          <ul class="pc-submenu">
            <li class="pc-item">
              <a class="pc-link" href="members/tradereg">TL Application</a>
            </li>
            <li class="pc-item">
              <a class="pc-link" href="members/dash">My Files</a>
            </li>
            <li class="pc-item">
              <a class="pc-link" href="members/approved">Approved Files</a>
            </li>
            <li class="pc-item">
              <a class="pc-link" href="members/payment">Payment</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- [ navigation menu ] end -->
