<div class="auth-wrapper" style="background-color: #fafafa">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div
            class="card-body"
            style="
              box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
                rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
            "
          >
            <img
              src="assets/images/haldialogo.png"
              alt=""
              class="img-fluid mb-4"
            />
            <h4 class="mb-3 f-w-400">Employee Login</h4>

            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <fa-icon [icon]="faEnvelope"></fa-icon>
                  </span>
                </div>
                <input
                  type="email"
                  formControlName="username"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': username.touched && username.invalid,
                    'is-valid': !username.invalid
                  }"
                  placeholder="Email address"
                />
                <div
                  *ngIf="username.touched && username.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="username.errors.required">username required</div>
                  <div *ngIf="username.errors.pattern">
                    Enter email! example@gmail.com
                  </div>
                </div>
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <fa-icon [icon]="faLock"></fa-icon>
                  </span>
                </div>
                <input
                  type="password"
                  formControlName="password"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': password.touched && password.invalid,
                    'is-valid': !password.invalid
                  }"
                  placeholder="Password"
                />
                <div
                  *ngIf="password.touched && password.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="password.errors.required">Password required</div>
                </div>
              </div>
              <!-- login button should be disabled when the form is not valid & shouldShowLoader is true -->

              <button
                [disabled]="!loginForm.valid"
                *ngIf="!shouldShowLoader"
                type="submit"
                class="btn btn-block btn-primary mb-4"
              >
                Login
              </button>
              <!-- loader will only show when when showShowLoader is true -->
              <a
                href="javascript:void(0)"
                *ngIf="shouldShowLoader"
                class="btn btn-block btn-primary mb-4"
              >
                <app-loader></app-loader>
              </a>
            </form>

            <!-- <p class="mb-2 text-muted">Forgot password? <a href="auth-reset-password.html" class="f-w-400">Reset</a></p> -->
            <!-- <p class="mb-0 text-muted">
              Don’t have an account?
              <a [routerLink]="'/login/register'" class="f-w-400">Signup</a>
            </p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
