<div class="pcoded-content">
  <!-- [ breadcrumb ] start -->

  <!-- [ breadcrumb ] end -->
  <!-- [ Main Content ] start -->
  <div class="row">
    <!-- [ Smart-Wizard ] start -->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Trade Enlistment Wizard</h5>
        </div>
        <div class="card-body border-bottom">
          <div class="form-group row mb-0">
            <label class="col-form-label col-lg-3 col-sm-12 text-lg-right"
              >Theme:</label
            >
            <div class="col-lg-4 col-md-9 col-sm-12">
              <select id="theme_selector" class="form-control">
                <option value="default">default</option>
                <option value="arrows">arrows</option>
                <option value="circles">circles</option>
                <option value="dots">dots</option>
              </select>
            </div>
          </div>
          <div class="form-group row mb-0" style="display: none">
            <label class="col-form-label col-lg-3 col-sm-12 text-lg-right"
              >User Type:</label
            >
            <div class="col-lg-4 col-md-9 col-sm-12">
              <select id="theme_selector" class="form-control" required>
                <option selected>select</option>
                <option>Self</option>
                <option>Company</option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div id="smartwizard">
            <ul>
              <li>
                <a href="#step-1">
                  <h6>Step 1</h6>
                  <p class="m-0">Property Owner Detail</p>
                </a>
              </li>
              <li>
                <a href="#step-2">
                  <h6>Step 2</h6>
                  <p class="m-0">Trade Details</p>
                </a>
              </li>
              <li>
                <a href="#step-3">
                  <h6>Step 3</h6>
                  <p class="m-0">Last Receipt Details</p>
                </a>
              </li>
              <li>
                <a href="#step-4">
                  <h6>Step 4</h6>
                  <p class="m-0">Uploading documents</p>
                </a>
              </li>
              <li>
                <a href="#step-5">
                  <h6>Step 5</h6>
                  <p class="m-0">Fee/Payment</p>
                </a>
              </li>
              <li>
                <a href="#step-6">
                  <h6>Step 6</h6>
                  <p class="m-0">Review and Submit</p>
                </a>
              </li>
            </ul>
            <div>
              <!-- Property Owner Detail -->
              <div id="step-1">
                <form class="needs-validation" novalidate>
                  <!-- <button class="btn  btn-primary" type="submit">Submit form</button> -->
                </form>
              </div>
              <!-- Trade Details -->
              <div id="step-2"></div>
              <!-- Last Receipt Details -->
              <div id="step-3"></div>
              <!-- Uploading documents -->
              <div id="step-4"></div>
              <!-- Fee/Payment -->
              <div id="step-5"></div>
              <!-- submit -->
              <div id="step-6">
                <span style="text-transform: capitalize"
                  >Please review the details you entered by clicking on Previous
                  button
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- [ Smart-Wizard ] end -->
  </div>
  <!-- [ Main Content ] end -->
</div>
